Source: wsl-setup
Section: admin
Priority: optional
Maintainer: Ubuntu Developers <ubuntu-devel-discuss@lists.ubuntu.com>
Build-Depends: debhelper-compat (= 13),
Standards-Version: 4.6.0
Homepage: https://github.com/ubuntu/wsl-setup
Description: WSL integration setup
 This package helps setting up a working WSL environment with systemd
 enabled by default.

Package: wsl-setup
Architecture: any
Depends: adduser,
         fonts-ubuntu,
         gawk,
         passwd,
         ${shlibs:Depends},
         ${misc:Depends},
Description: ${source:Synopsis}
 ${source:Extended-Description}
