name: Integration tests
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "4 3 * * 2" # Tuesdays 03:04 am.
  push:
    branches: ["main"]
env:
  instance: Ubuntu-${{ github.run_id }}
  profile_script: /etc/profile.d/99-quit-wsl.sh
  instance_working_dir: ~/wsl-setup-${{ github.run_id }}

jobs:
  build-deb:
    name: Build wsl-setup debian package
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Build deb
        uses: canonical/desktop-engineering/gh-actions/common/build-debian@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker-image: ubuntu:devel

  cache-img:
    name: Cache the daily-live image
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
      - name: Get WSL Image
        uses: ./.github/actions/get-wsl-image
        with:
          output_path: images.wsl

  cloud-init-test:
    needs: [build-deb, cache-img]
    name: "Cloud-init tests"
    runs-on: windows-2025 # WSL and winget are preinstalled and working
    strategy:
      fail-fast: false
      matrix:
        ubuntu-insights-flag: ["0", "1", "12", "skip"]
        ubuntu-insights-state: ["false", "true", "null", "skip"]
        exclude:
          # Skip combinations that would result in an interactive prompt
          - ubuntu-insights-flag: "skip"
            ubuntu-insights-state: "null"
          - ubuntu-insights-flag: "12"
            ubuntu-insights-state: "null"
          - ubuntu-insights-flag: "skip"
            ubuntu-insights-state: "skip"
          - ubuntu-insights-flag: "12"
            ubuntu-insights-state: "skip"

    steps:
      - name: Check out repository
        uses: actions/checkout@v6

      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: ci-artifacts
          # name: is left blank so that all artifacts are downloaded, thus we don't couple on
          # whatever name was chosen in the build-debian action.

      - name: Get WSL Image
        uses: ./.github/actions/get-wsl-image
        with:
          output_path: images.wsl

      - name: Set Ubuntu Insights consent flag
        if: matrix.ubuntu-insights-flag != 'skip'
        shell: powershell
        run: |
          New-Item -Path "HKCU:\Software\Canonical\Ubuntu" -Force
          New-ItemProperty -Path "HKCU:\Software\Canonical\Ubuntu" -Name "UbuntuInsightsConsent" -Value "${{ matrix.ubuntu-insights-flag }}" -PropertyType DWord -Force

      - name: "Set up a WSL instance from the daily image"
        shell: powershell
        env:
          WSL_UTF8: "1" # Recommended otherwise it's hard to read wsl output on Github
          # Just to skip the interactive session
          cloudinit: |
            #cloud-config
            users:
            - name: u
              gecos: Ubuntu User
              groups: [adm,dialout,cdrom,floppy,sudo,audio,dip,video,plugdev,netdev]
              sudo: ALL=(ALL) NOPASSWD:ALL
              shell: /bin/bash
            packages: [hello]
            write_files:
            - path: /etc/wsl.conf
              append: true
              content: |
                [user]
                default=u
        run: |
          if ("${{ matrix.ubuntu-insights-state }}" -ne "skip") {
            $env:cloudinit += "`- path: /home/u/.config/ubuntu-insights/consent.toml`n  owner: u:u`n  permissions: 0o755`n  defer: true`n  content: |`n    consent_state = ${{ matrix.ubuntu-insights-state }}"
          }

          # No launch so we can install the deb before running the OOBE
          wsl --install --no-launch --from-file "images.wsl" --name "${{ env.instance }}"
          wsl -d "${{ env.instance }}" -u root -- ls -l "./ci-artifacts/wsl-setup_*/"
          wsl -d "${{ env.instance }}" -u root -- dpkg -i "./ci-artifacts/wsl-setup_*/wsl-setup_*.deb"

          # In case cloud-init fails we don't get stuck on endless prompting.
          wsl -d "${{ env.instance }}" -u root -- adduser --quiet --gecos '' --disabled-password ubuntu
          wsl -d "${{ env.instance }}" -u root -- usermod ubuntu -aG "adm,cdrom,sudo,dip,plugdev"
          wsl -d "${{ env.instance }}" -u root -- cloud-init status --wait
          wsl -d "${{ env.instance }}" -u root -- bash -ec "rm /etc/cloud/cloud-init.disabled || true"
          wsl -d "${{ env.instance }}" -u root -- bash -ec "echo -e '#!/bin/bash\necho Exiting because the profile says so\nexit 0' > ${{ env.profile_script }}"
          wsl -d "${{ env.instance }}" -u root -- chmod '0777' ${{ env.profile_script }}
          wsl -d "${{ env.instance }}" -u root -- cloud-init clean --logs
          wsl --shutdown

          # Write the cloud-init user-data contents.
          $cloudinitdir = New-Item -ItemType "Directory" -Path "${env:UserProfile}\.cloud-init\" -Force
          # TODO: Investigate why UTF-8 BOM seems to break cloud-init.
          $filePath="${cloudinitdir}\${{ env.instance }}.user-data"
          $utf8NoBomEncoding = New-Object System.Text.UTF8Encoding $False
          [System.IO.File]::WriteAllLines($filePath, $env:cloudinit, $utf8NoBomEncoding)
          Write-Output "Testing wsl-setup with cloud-init user data at ${cloudinitdir} :"
          Get-Content "${cloudinitdir}\${{ env.instance }}.user-data"

      - name: Test initial setup
        timeout-minutes: 10
        shell: powershell
        run: |
          wsl -d "${{ env.instance }}" # Will run the wsl-setup script.

          wsl -d "${{ env.instance }}" -u root -- bash -ec "rm ${{ env.profile_script }} || true"
          wsl -d "${{ env.instance }}" -u root -- bash -ec "cat /var/log/cloud-init.log || true"
          wsl --terminate ${{ env.instance }}

      - name: Determine expected consent state
        id: expected-consent
        shell: powershell
        run: |
          $state = "${{ matrix.ubuntu-insights-state }}"
          $flag  = "${{ matrix.ubuntu-insights-flag }}"

          if ($state -eq "true" -or $state -eq "false") {
              $expected = $state
          } elseif ($flag -eq "1") {
              $expected = "true"
          } elseif ($flag -eq "0") {
              $expected = "false"
          } else {
              Write-Error "Internal test setup error: invalid state='$state' and flag='$flag'. Expected state to be 'true' or 'false', or flag to be '0' or '1'."
              Exit 1
          }

          Add-Content -Path $env:GITHUB_OUTPUT -Value "expected=$expected"

      - name: Validate instance state
        uses: ./.github/actions/validate-wsl
        with:
          instance: ${{ env.instance }}
          working-dir: ${{ env.instance_working_dir }}
          expected-user: u
          expected-internal-consent-state: ${{ steps.expected-consent.outputs.expected }}
          expected-registry-consent-state: ${{ matrix.ubuntu-insights-flag }}

      - name: "Run hello package"
        uses: ubuntu/WSL/.github/actions/wsl-bash@main
        with:
          distro: ${{ env.instance }}
          working-dir: ${{ env.instance_working_dir }}
          exec: |
            if ! hello; then
              echo "::error:: Failed to execute the hello program that should have been installed by cloud-init"
              exit 1
            fi

      - name: "Clean up" # Probably not necessary since we're leveraging ephemeral GH's runners.
        if: always()
        shell: powershell
        run: |
          wsl --unregister ${{ env.instance }}
