name: Integration tests
on:
  pull_request:
  workflow_dispatch:
  schedule:
    - cron: "4 3 * * 2" # Tuesdays 03:04 am.
  push:
    branches: ["main"]
env:
  # TODO: Transform this into a matrix
  architecture: amd64
  base_url: https://cdimages.ubuntu.com/ubuntu-wsl/daily-live/current
  images_dir: images
  instance: Ubuntu-${{ github.run_id }}
  profile_script: /etc/profile.d/99-quit-wsl.sh
  instance_working_dir: ~/wsl-setup-${{ github.run_id }}

jobs:
  build-deb:
    name: Build wsl-setup debian package
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository
        uses: actions/checkout@v5
      - name: Build deb
        uses: canonical/desktop-engineering/gh-actions/common/build-debian@main
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          docker-image: ubuntu:devel

  cache-img:
    name: Cache the daily-live image
    runs-on: ubuntu-latest
    outputs:
      cache-key: ${{ steps.compute-cache-key.outputs.cache-key }}
      cache-image-name: ${{ steps.compute-cache-key.outputs.cache-image-name }}
    steps:
      - name: Compute image cache key
        id: compute-cache-key
        shell: bash
        run: |
          set -eu

          shafile="SHA256SUMS"
          uri="${{ env.base_url }}/${shafile}"
          if ! curl -o "${shafile}" "${uri}"; then
            echo "::error:: Failed to download the checksum file from $uri."
            exit 1
          fi

          line=$(grep -E "^[a-f0-9]+ \*.+-${{ env.architecture }}.wsl$" "${shafile}")
          if [ -z "${line}" ]; then
            echo "::error:: Couldn't find checksum of an ${{ env.architecture }} image in ${shafile}."
            exit 2
          fi

          # If a line matches, then awk extracts the first field: the checksum.
          key=$(awk '{print $1}' <<< "${line}")
          if [ -z "$key" ]; then
            echo "::error:: Checksum for '${image_name}' not found in the $shafile file."
            exit 3
          fi

          # awk substr skipping the first character (the asterisk)
          image_name=$(awk '{print substr($2, 2)}' <<< "${line}")
          if [ -z "${image_name}" ]; then
            echo "::error:: Image name not found."
            exit 4
          fi

          echo "cache-key=$key" >> "$GITHUB_OUTPUT"
          echo "cache-image-name=$image_name" >> "$GITHUB_OUTPUT"

      - name: Check image cache first
        id: cache
        uses: actions/cache@v4
        with:
          path: ${{ env.images_dir }}
          key: ${{ steps.compute-cache-key.outputs.cache-key }}
          enableCrossOsArchive: true

      - name: Download a daily-live image
        if: steps.cache.outputs.cache-hit != 'true'
        shell: bash
        env:
          image_name: ${{ steps.compute-cache-key.outputs.cache-image-name }}
        run: |
          set -eu

          mkdir -p "${{ env.images_dir }}"
          if ! curl -o "${{ env.images_dir }}/${image_name}" "${{ env.base_url }}/${image_name}"; then
            echo "::error:: Failed to download the image from ${{ env.base_url }}/${image_name}'."
            exit 1
          fi

  test-wsl-setup:
    needs: [build-deb, cache-img]
    name: "Integration tests"
    runs-on: windows-2025 # WSL and winget are preinstalled and working
    strategy:
      fail-fast: false
      matrix:
        ubuntu-insights-flag: ["0", "1", "12", "skip"]
        ubuntu-insights-state: ["false", "true", "null", "skip"]
        exclude:
          # Skip combination that would result in an interactive prompt
          - ubuntu-insights-flag: "skip"
            ubuntu-insights-state: "null"
          - ubuntu-insights-flag: "12"
            ubuntu-insights-state: "null"
          - ubuntu-insights-flag: "skip"
            ubuntu-insights-state: "skip"
          - ubuntu-insights-flag: "12"
            ubuntu-insights-state: "skip"

    steps:
      - name: Download artifacts
        uses: actions/download-artifact@v5
        with:
          path: ci-artifacts
          # name: is left blank so that all artifacts are downloaded, thus we don't couple on
          # whatever name was chosen in the build-debian action.

      - name: Fetch the image from cache
        id: cache
        uses: actions/cache@v4
        with:
          path: ${{ env.images_dir }}
          key: ${{ needs.cache-img.outputs.cache-key }}
          restore-keys: |
            ${{ needs.cache-img.outputs.cache-key }}
          enableCrossOsArchive: true

      - name: Set Ubuntu Insights consent flag
        if: matrix.ubuntu-insights-flag != 'skip'
        shell: powershell
        run: |
          New-Item -Path "HKCU:\Software\Canonical\Ubuntu" -Force
          New-ItemProperty -Path "HKCU:\Software\Canonical\Ubuntu" -Name "UbuntuInsightsConsent" -Value "${{ matrix.ubuntu-insights-flag }}" -PropertyType DWord -Force

      - name: "Set up a WSL instance from the daily image"
        shell: powershell
        env:
          image_name: ${{ needs.cache-img.outputs.cache-image-name }}
          WSL_UTF8: "1" # Recommended otherwise it's hard to read wsl output on Github
          # Just to skip the interactive session
          cloudinit: |
            #cloud-config
            users:
            - name: u
              gecos: Ubuntu User
              groups: [adm,dialout,cdrom,floppy,sudo,audio,dip,video,plugdev,netdev]
              sudo: ALL=(ALL) NOPASSWD:ALL
              shell: /bin/bash
            packages: [hello]
            write_files:
            - path: /etc/wsl.conf
              append: true
              content: |
                [user]
                default=u
        run: |
          if ("${{ matrix.ubuntu-insights-state }}" -ne "skip") {
            $env:cloudinit += "`- path: /home/u/.config/ubuntu-insights/consent.toml`n  owner: u:u`n  permissions: 0o755`n  defer: true`n  content: |`n    consent_state = ${{ matrix.ubuntu-insights-state }}"
          }

          # No launch so we can install the deb before running the OOBE
          wsl --install --no-launch --from-file "${{ env.images_dir }}/${{ env.image_name }}" --name "${{ env.instance }}"
          wsl -d "${{ env.instance }}" -u root -- ls -l "./ci-artifacts/wsl-setup_*/"
          wsl -d "${{ env.instance }}" -u root -- dpkg -i "./ci-artifacts/wsl-setup_*/wsl-setup_*.deb"

          # In case cloud-init fails we don't get stuck on endless prompting.
          wsl -d "${{ env.instance }}" -u root -- adduser --quiet --gecos '' --disabled-password ubuntu
          wsl -d "${{ env.instance }}" -u root -- usermod ubuntu -aG "adm,cdrom,sudo,dip,plugdev"
          wsl -d "${{ env.instance }}" -u root -- cloud-init status --wait
          wsl -d "${{ env.instance }}" -u root -- bash -ec "rm /etc/cloud/cloud-init.disabled || true"
          wsl -d "${{ env.instance }}" -u root -- bash -ec "echo -e '#!/bin/bash\necho Exiting because the profile says so\nexit 0' > ${{ env.profile_script }}"
          wsl -d "${{ env.instance }}" -u root -- chmod '0777' ${{ env.profile_script }}
          wsl -d "${{ env.instance }}" -u root -- cloud-init clean --logs
          wsl --shutdown

          # Write the cloud-init user-data contents.
          $cloudinitdir = New-Item -ItemType "Directory" -Path "${env:UserProfile}\.cloud-init\" -Force
          # TODO: Investigate why UTF-8 BOM seems to break cloud-init.
          $filePath="${cloudinitdir}\${{ env.instance }}.user-data"
          $utf8NoBomEncoding = New-Object System.Text.UTF8Encoding $False
          [System.IO.File]::WriteAllLines($filePath, $env:cloudinit, $utf8NoBomEncoding)
          Write-Output "Testing wsl-setup with cloud-init user data at ${cloudinitdir} :"
          Get-Content "${cloudinitdir}\${{ env.instance }}.user-data"

      - name: Test initial setup
        timeout-minutes: 10
        shell: powershell
        run: |
          wsl -d "${{ env.instance }}" # Will run the wsl-setup script.
          if (!(Test-Path -Path "${env:LocalAppData}\Microsoft\Windows\Fonts\Ubuntu*.ttf")) {
            Write-Error "Ubuntu font was not installed as expected"
            Exit 1
          }
          if (!(Get-ItemProperty -Path "HKCU:\Software\Microsoft\Windows NT\CurrentVersion\Fonts\" -Name "Ubuntu*" )) {
            Write-Error "Ubuntu font was not registered"
            Exit 2
          }
          wsl -d "${{ env.instance }}" -u root -- bash -ec "rm ${{ env.profile_script }} || true"
          wsl -d "${{ env.instance }}" -u root -- bash -ec "cat /var/log/cloud-init.log || true"
          wsl --terminate ${{ env.instance }}

      - uses: ubuntu/WSL/.github/actions/wsl-checkout@main
        with:
          distro: ${{ env.instance }}
          working-dir: ${{ env.instance_working_dir }}

      - name: Assertions on the new instance
        uses: ubuntu/WSL/.github/actions/wsl-bash@main
        with:
          distro: ${{ env.instance }}
          working-dir: ${{ env.instance_working_dir }}
          exec: |
            source test/integration-test.sh

      - name: Ubuntu Insights Assertions
        uses: ubuntu/WSL/.github/actions/wsl-bash@main
        with:
          distro: ${{ env.instance }}
          working-dir: ${{ env.instance_working_dir }}
          exec: |
            expected=""
            state="${{ matrix.ubuntu-insights-state }}"
            flag="${{ matrix.ubuntu-insights-flag }}"

            if [ "$state" = "true" ] || [ "$state" = "false" ]; then
              expected="$state"
            elif [ "$flag" = "1" ]; then
              expected="true"
            elif [ "$flag" = "0" ]; then
              expected="false"
            else
              echo "::error:: Failed to determine expected consent value."
              exit 1
            fi

            # Check output
            if ! ubuntu-insights consent | grep -q "Default: $expected"; then
                echo "::error:: Assertion Failed: Expected 'Default: $expected'"
                exit 1
            fi

      - name: "Clean up" # Probably not necessary since we're leveraging ephemeral GH's runners.
        if: always()
        shell: powershell
        run: |
          wsl --unregister ${{ env.instance }}
